<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" content="width=device-width">
    <title></title>
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>
    <section >
      <img src="images/Kid Care Hub.png" alt="logo">
    </section>
    <section >
      <h1>Higher Technological Institute</h1>
    </section>
    <section>
      <h3>Dashboard</h3>
    </section>
    <section id="formu">
      <form  action="index.html" method="post">
        <input type="email" name="" value="" placeholder="Email">
        <input type="password" name="" value="" placeholder="Password">
        <input type="button" name="" value="login" >
      </form>
    </section>
  </body>
</html>
