<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/stylepublic.css">
    <title>Document</title>
</head>
<body>
 <section>
    <div class="side-menu">
        <img src="img/playstore.png" alt="">
        
            <ul>
                <li>
                   <input id="news" type="button" value="News">
                </li>
                <li>
                    <input id="hospital" type="button" value="Near Hospital">
                </li>
                <li>
                    <input id="static" type="button" value="Statistics">
                </li>
               
               
            </ul>
       
        
     </div>
    <div class="continear">
        <div>
        <h1>
            NEWS
        </h1>
        <div class="newsdiv" id="newss">
      
           
        </div>
        
     </div>
  </section>
    <script src="js/newspublic.js"></script>
</body>
</html>