<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>Document</title>
</head>
<body>
 <section>
    <div class="side-menu">
        <img src="../img/playstore.png" alt="">
        <ul>
            <li>
               <input id='news' type="button" value="News">
            </li>
            <li>
                <input id='hospital' type="button" value="Near Hospital">
            </li>
            <li>
                <input id="statistics"type="button" value="Statistics">
            </li>
           
            <li>
                <input id="logout"type="button" value="Log out">
            </li>
        </ul>
     </div>
    <div class="continear">
        <div>
        <h1>
            STATISTICS
        </h1>
        <input id="id" type="text" placeholder="ID">
        <input id="name" type="text" placeholder="NAME">
         <input id="image" type="text" placeholder="IMAGE URL">
        <input id="death" type="text" placeholder="DEATH">
        <input id="recovered" type="text" placeholder="RECOVERD">
        <input id="total" type="text" placeholder="TOTAL">
        </div>
        <div class="buttons">
            <input id="getitem" type="button" value="Get item">
            <input id="add" type="button" value="Add item">
            <input id="update" type="button" value="Update Item">
            <input id="remove" type="button" value="Remove item">

        </div>
     </div>
  </section>
    <script src="../js/statistics.js"></script>
</body>
</html>