<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/stylepublic.css">
    <title>الاحصائيات</title>
</head>
<body>
 <section>
    <div class="side-menu">
        <img src="img/playstore.png" alt="">
        <ul>
              <li>
                   <input id="news" type="button" value="الاخبار">
                </li>
                <li>
                    <input id="hospital" type="button" value="اقرب مستشفي">
                </li>
                <li>
                    <input id="static" type="button" value="الاحصائيات">
                </li>
           
            
        </ul>
     </div>
     <div class="continear">
        <div>
        <h1>
            الاحصائيات
        </h1>
        <div id="statistics" class="newsdiv">
        </div>
        
     </div>
  </section>
<script src="../js/statisticspublic.js"></script>
</body>
</html>